#assignment-page-title {
-fx-font-size: 35;
-fx-font-weight: bold;
-fx-font-family: "Times New Roman", Times, serif;
}

#assignments{
-fx-font-size: 25;
-fx-font-family: "Cambria", serif;
}

#primaryStage{
-fx-background-color: lightblue;
-fx-opacity: 0.3;
}